@charset "UTF-8";

button {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}

.group-header {
    font-size: 250%;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Khand', sans-serif;
}

.sub-group-header {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 200%;
    text-decoration: underline;
    font-family: 'Khand', sans-serif;
}

.budget-label {
    font-size: 150%;
    font-family: 'Khand', sans-serif;
}

.totalBanner {
    background-color: orange;
    color: white;
    padding: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 350%;
    text-align: center;
    font-weight: bolder;
}

.total {
    color: #000;
    font-family: 'Orbitron', sans-serif;
}