@charset "UTF-8";

button {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}


.tab-heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 140%;
}

.tab-display-window{
    overflow: scroll;
}

.plus-size{
    font-size: 80%;
}
/*#tabDisplay1 {
    opacity: 0;
}

#tabDisplay2 {
    opacity: 0;
}

#tabDisplay3 {
    opacity: 0;
}*/