<form class="monthly-current-assets-container" onSubmit="return false;">
    <div class="form-row">
        <div class="col">
            <label>Checking Account:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control monthly-checking-account-input">
            </div>
        </div>
        <div class="col">
            <label>Savings Account:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control monthly-savings-account-input">
            </div>
        </div>
        <div class="col">
            <label>Cash:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control monthly-cash-input">
            </div>
        </div>
    </div>
    <button type="button" class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one monthly-submit-button">Submit <i class="fas fa-paper-plane"></i></button>
</form>