<div class="accordion" id="decemberAccordion">
    <h2 class="unica-one text-orange"><u>December</u></h2>
    <div class="border-top border-bottom border-info my-1" id="headingThirtySeven">
        <h2 class="mb-0 border-top border-bottom border-info">
            <button class="btn btn-link text-info collapse-heading" type="button" data-toggle="collapse"
                data-target="#collapseThirtySeven" aria-expanded="true" aria-controls="collapseThirtySeven"
                id="decemberIncomeCollapse">
                <i class="fas fa-minus text-info"></i> Income
            </button>
        </h2>
        <div id="collapseThirtySeven" class="collapse show" aria-labelledby="headingThirtySeven">
            <div class="card-body border-bottom border-info">

                <!-- INSIDE OF INCOME ACCORDION -->
                <form>
                    <div class="form-row">
                        <div class="col-7">
                            <label>Net Income:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberNet">
                            </div>
                        </div>
                        <div class="col">
                            <label>Rate Of Pay:</label>
                            <select class="form-control" id="decemberFreq">
                                <option>Weekly</option>
                                <option>Bi-Weekly</option>
                                <option>Monthly</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="decemberAddIncome"
                            class="mx-auto btn btn-info w-50 mt-3 unica-one">Add
                            Income <i class="fas fa-plus"></i></button>
                        <button type="button" id="decemberAddIncomeToAll"
                            class="mx-auto btn btn-orange w-50 mt-3 unica-one">Add to All <i
                                class="fas fa-sign-in-alt"></i>
                        </button>
                        <button type="button"
                            class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one yearly-submit-button">Submit <i
                                class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="border-top border-bottom border-info my-1" id="headingThirtyEight">
        <h2 class="mb-0 border-top border-bottom border-info">
            <button class="btn btn-link collapsed text-info collapse-heading" type="button" data-toggle="collapse"
                data-target="#collapseThirtyEight" aria-expanded="true" aria-controls="collapseThirtyEight"
                id="decemberSavingsCollapse">
                <i class="fas fa-minus text-info"></i> Savings
            </button>
        </h2>
        <div id="collapseThirtyEight" class="collapse show" aria-labelledby="headingThirtyEight">
            <div class="card-body border-bottom border-info">
                <div class="form-row">
                    <div class="col">
                        <label>Savings(General):</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberSavings">
                        </div>
                    </div>
                    <div class="col">
                        <label>Emergency Fund:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberEmergency">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>401k:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="december401k">
                        </div>
                    </div>
                    <div class="col">
                        <label>Investments:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberInvestments">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label>Retirement:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberRetirement">
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="decemberAddSavings" class="mx-auto btn btn-info w-50 mt-3 unica-one">Add
                        Savings
                        <i class="fas fa-plus"></i></button>
                    <button type="button" id="decemberSavingsToAll"
                        class="mx-auto btn btn-orange w-50 mt-3 unica-one">Add to All <i
                            class="fas fa-sign-in-alt"></i></button>
                    <button type="button"
                        class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one yearly-submit-button">Submit <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top border-bottom border-info my-1" id="headingThirtyNine">
        <h2 class="mb-0 border-top border-bottom border-info">
            <button class="btn btn-link collapsed text-info collapse-heading" type="button" data-toggle="collapse"
                data-target="#collapseThirtyNine" aria-expanded="true" aria-controls="collapseThirtyNine">
                <i class="fas fa-minus text-info"></i> Expenses
            </button>
        </h2>
        <div id="collapseThirtyNine" class="collapse show" aria-labelledby="headingThirtyNine">
            <div class="card-body border-info">
                <div class="container my-3">
                    <hr />
                    <h3 class="unica-one">Home Expenses</h3>
                    <hr />
                    <div class="form-row">
                        <div class="col">
                            <label>Rent:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberRent">
                            </div>
                        </div>
                        <div class="col">
                            <label>Mortgage:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberMortgage">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Repair/Maintinence:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberRepair">
                            </div>
                        </div>
                        <div class="col">
                            <label>Cable/TV:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberCable">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Home Insurance:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberHomeInsurance">
                            </div>
                        </div>
                        <div class="col">
                            <label>HOA Fees:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberHOA">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Internet:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberInternet">
                            </div>
                        </div>
                        <div class="col">
                            <label>Cellphone:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberCellphone">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h3 class="unica-one">UTILITIES</h3>
                    <hr />
                    <div class="form-row">
                        <div class="col">
                            <label>Water:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberWater">
                            </div>
                        </div>
                        <div class="col">
                            <label>Gas:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberGas">
                            </div>
                        </div>
                        <div class="col">
                            <label>Electricity:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="decemberElectricity">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="decemberAddHomeExpenses"
                            class="mx-auto btn btn-info w-50 mt-3 unica-one">Add
                            Expenses <i class="fas fa-plus"></i></button>
                        <button type="button" id="decemberAddHomeExpensesToAll"
                            class="mx-auto btn btn-orange w-50 mt-3 unica-one">Add to All <i
                                class="fas fa-sign-in-alt"></i></button>
                        <button type="button"
                            class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one yearly-submit-button">Submit <i
                                class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
                <hr />

                <h3 class="unica-one">Debt & Loans</h3>
                <hr />
                <div class="form-row">
                    <div class="col">
                        <label>Credit Cards:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberCreditCards">
                        </div>
                    </div>
                    <div class="col">
                        <label>Student Loans:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberStudentLoans">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Medical Debt:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberMedicalDebt">
                        </div>
                    </div>
                    <div class="col">
                        <label>Tax Payments:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberTaxPayments">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Store Cards:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberStoreCards">
                        </div>
                    </div>
                    <div class="col">
                        <label>Personal Debt:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberPersonalDebt">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="decemberAddDebts" class="mx-auto btn btn-info w-50 mt-3 unica-one">Add
                        Expense
                        <i class="fas fa-plus"></i></button>
                    <button type="button" id="decemberAddDebtsToAll"
                        class="mx-auto btn btn-orange w-50 mt-3 unica-one">Add to All <i
                            class="fas fa-sign-in-alt"></i></button>
                    <button type="button"
                        class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one yearly-submit-button">Submit <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>

            <div class="container my-3">
                <hr />
                <h3 class="unica-one">Transportation</h3>
                <hr />
                <div class="form-row">
                    <div class="col">
                        <label>Car Payment:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberCarPayment">
                        </div>
                    </div>
                    <div class="col">
                        <label>Car Insurance:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberCarInsurance">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Gas:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberCarGas">
                        </div>
                    </div>
                    <div class="col">
                        <label>Car Repairs:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberCarRepairs">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Parking & Tolls:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberParking">
                        </div>
                    </div>
                    <div class="col">
                        <label>Public Transit:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberPublicTransit">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="decemberAddTransportation"
                        class="mx-auto btn btn-info w-50 mt-3 unica-one">Add Expense
                        <i class="fas fa-plus"></i></button>
                    <button type="button" id="decemberAddTransportationToAll"
                        class="mx-auto btn btn-orange w-50 mt-3 unica-one">Add to All<i
                            class="fas fa-sign-in-alt"></i></button>
                    <button type="button"
                        class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one yearly-submit-button">Submit <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <div class="container my-3">
                <hr />
                <h3 class="unica-one">Medical Expenses</h3>
                <hr />
                <div class="form-row">
                    <label>Health Insurance:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberHealthInsurance">
                    </div>
                </div>
                <div class="form-row">
                    <label>Copays:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberCopays">
                    </div>
                </div>
                <div class="form-row">
                    <label>Prescriptions:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberPrescriptions">
                    </div>
                </div>
                <div class="form-row">
                    <label>Life Insurance:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberLifeInsurance">
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="decemberAddMedical" class="mx-auto btn btn-info w-50 mt-3 unica-one">Add
                        Expense
                        <i class="fas fa-plus"></i></button>
                    <button type="button" id="decemberAddMedicalToAll"
                        class="mx-auto btn btn-orange w-50 mt-3 unica-one">Add to All <i
                            class="fas fa-sign-in-alt"></i></button>
                    <button type="button"
                        class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one yearly-submit-button">Submit <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <div class="container my-3">
                <hr />
                <h3 class="unica-one">Educational Expenses</h3>
                <hr />
                <div class="form-row">
                    <label>School Supplies:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberSchoolSupplies">
                    </div>
                </div>
                <div class="form-row">
                    <label>Meal Plan:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberMealPlan">
                    </div>
                </div>
                <div class="form-row">
                    <label>Tuition:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberTuition">
                    </div>
                </div>
                <div class="form-row">
                    <label>Textbooks:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="decemberTextbooks">
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="decemberAddEducational"
                        class="mx-auto btn btn-info w-50 mt-3 unica-one">Add Expense
                        <i class="fas fa-plus"></i></button>
                    <button type="button" id="decemberAddEducationalToAll"
                        class="mx-auto btn btn-orange w-50 mt-3 unica-one">Add to All <i
                            class="fas fa-sign-in-alt"></i></button>
                    <button type="button"
                        class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one yearly-submit-button">Submit <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <div class="container my-3">
                <hr />
                <h3 class="unica-one">Monthly Food & Personal</h3>
                <hr />
                <div class="form-row">
                    <div class="col">
                        <label>Groceries/Household Purchases:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberGroceries">
                        </div>
                    </div>
                    <div class="col">
                        <label>Meals Out:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberMealsOut">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Clothing:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberClothing">
                        </div>
                    </div>
                    <div class="col">
                        <label>Entertainment:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberEntertainment">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Pet Supplies:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberPet">
                        </div>
                    </div>
                    <div class="col">
                        <label>Hobbies & Sports:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberHobbies">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Charitable Donations:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberCharitableDonations">
                        </div>
                    </div>
                    <div class="col">
                        <label>Subscriptions:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="decemberSubscriptions">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="decemberAddFoodAndPersonal"
                        class="mx-auto btn btn-info w-50 mt-3 unica-one">Add Expense
                        <i class="fas fa-plus"></i></button>
                    <button type="button" id="decemberAddFoodAndPersonalToAll"
                        class="mx-auto btn btn-orange w-50 mt-3 unica-one">Add to All <i
                            class="fas fa-sign-in-alt"></i></button>
                    <button type="button"
                        class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one yearly-submit-button">Submit <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <div class="container my-3">
                <hr />
                <h3 class="unica-one">One Time Expenses</h3>
                <hr />
                <div class="text-center">
                    <button type="button" id="decemberAddOneTime" class="mx-auto btn btn-info w-50 mt-3 unica-one">Add
                        Expense
                        <i class="fas fa-plus"></i></button>
                    <button type="button" class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one">Submit <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>