<div class="container my-3">
    <h3 class="unica-one">Medical Expenses</h3>
    <div class="form-row">
        <label>Health Insurance:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" id="monthlyHealthInsurance">
        </div>
    </div>
    <div class="form-row">
        <label>Copays:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" id="monthlyCopays">
        </div>
    </div>
    <div class="form-row">
        <label>Prescriptions:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" id="monthlyPrescriptions">
        </div>
    </div>
    <div class="form-row">
        <label>Life Insurance:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" id="monthlyLifeInsurance">
        </div>
    </div>
    <div class="text-center">
        <button type="button" id="monthlyAddMedicalToYear" class="mx-auto btn btn-orange w-50 mt-3 unica-one">Transfer
            to Yearly Budget <i class="fas fa-sign-in-alt"></i></button>
        <button type="button" class="mx-auto btn btn-success w-25 btn-block mt-3 unica-one monthly-submit-button">Submit
            <i class="fas fa-paper-plane"></i></button>
    </div>
</div>