<div class="container">
    <div class="row">
        <h1 class="monthly-title unica-one mx-auto underline text-info"></h1>
    </div>
    <div class="row">
        <h2 class="unica-one mx-auto underline">Monthly Expenses</h2>
    </div>
    <div class="row">
        <h3 class="unica-one underline text-center">Savings</h3>
    </div>
    <div class="row">
        <canvas id="monthlySavingsPieChart"></canvas>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <h3 class="unica-one text-center underline">Home Expenses</h3>
            <div class="monthly-home-expenses-pie-chart-container">
            </div>
        </div>
        <div class="col-6">
            <h3 class="unica-one text-center underline">Debt & Loans</h3>
            <div class="monthly-debt-pie-chart-container">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3 class="unica-one text-center underline">Transportation</h3>
            <div class="monthly-transportation-pie-chart-container">
            </div>
        </div>
        <div class="col-6">
            <h3 class="unica-one text-center underline">Medical</h3>
            <div class="monthly-medical-pie-chart-container">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3 class="unica-one text-center underline">Educational</h3>
            <div class="monthly-educational-pie-chart-container">
            </div>
        </div>
        <div class="col-6">
            <h3 class="unica-one text-center underline">Food & Personal</h3>
            <div class="monthly-food-and-personal-pie-chart-container">
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="unica-one text-center underline">One-Time Expenses</h3>
    </div>
</div>