/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 /* ------------------------ */
 /*           FONTS          */
 /* ------------------------ */
 
 /* RALEWAY */
 .raleway-light {
     font-family: 'Raleway', sans-serif, 'Open Sans', sans-serif;
     font-weight: lighter;
 }
 
 .raleway {
     font-family: 'Raleway', sans-serif, 'Open Sans', sans-serif;
 }
 
 /* UNICA ONE */
 .unica-one-lighter {
     font-family: 'Unica One', cursive, 'Open Sans', sans-serif;
     font-weight: lighter;
     text-transform: uppercase;
 }
 
 .unica-one {
     font-family: 'Unica One';
     text-transform: uppercase;
 }

 
 /* ------------------------ */
 /*          BUTTONS         */
 /* ------------------------ */
 
 button {
     font-family: 'Orbitron', sans-serif;
 }
 
 .navbar-tab-headers {
     background-color: #fff;
 }
 
 .collapse-heading {
     font-family: 'Unica One', cursive, 'Open Sans', sans-serif;
     text-transform: uppercase;
     font-size: 70%;
 }
 
 /*----------------------------*/
 /*           COLORS           */
 /*----------------------------*/
 .text-orange {
     color: #f06800;
 }
 
 .btn-orange {
     background-color: #f06800;
     color: #ffffff;
 }
 
 .bg-orange {
     background-color: #f06800;
     color: #ffffff;
 }
 
 .btn-orange:hover {
     background-color: #cb5800;
     color: #ffffff;
 }
 
 .border-orange{
     border-color: #f06800;
     border-style: solid;
 }
 
 .backDisplay1 {
     width: 10%;
     background-color: #f06800;
     color: #ffffff;
 }
 
 .backDisplay1:hover {
     background-color: #cb5800;
     color: #ffffff;
 }
 
 h1 {
     font-family: 'Special Elite', cursive;
 }
 
 .tab-heading {
     font-family: 'Unica One', cursive, 'Open Sans', sans-serif;
     /*font-family: 'Permanent Marker', cursive;*/
     text-transform: uppercase;
     font-size: 1.3rem;
 }
 
 .sub-collapse-heading {
     font-family: 'Unica One', cursive, 'Open Sans', sans-serif;
     color: white;
     text-transform: uppercase;
 }
 
 /*
 .tab-display-window{
     height: 600px;
     overflow: scroll;
 }*/
 
 .calculator-tab-window{
     height: 650px;
     overflow: scroll;
 }
 
 .plus-size{
     font-size: 80%;
 }
 
 /*----------------------------*/
 /*            PILLS           */
 /*----------------------------*/
 
 .monthly-yearly-tab:hover{
     color: #000;
 }

 /*----------------------------*/
 /*           TABLES           */
 /*----------------------------*/
 .table-heading{
    font-size: 150%;
}

 .table-sub-heading{
     font-size: 120%;
 }

 /* ----------------------------------------------------------*/

                /* ALL BOOTSTRAP BELOW THIS */

/* -----------------------------------------------------------*/

.nav-pills .nav-link {
    font-size: 80%;
    border-radius: 0.25rem;
    color: #000;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    /*background-color: #f06800;*/
    background-color: #000;
  }